body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message {
  font-size: 32px;
  color: #333;
  text-align: center;
}
